<h1>Text Message</h1>
<p>Send a text message:</p>
<%= form_for @text_message do |f| %>
    <%= f.label :name %><br>
    <%= f.text_area :name %><br>
    <%= f.label :phone %><br>
    <%= f.text_area :phone %><br>
    <%= f.label :message %><br>
    <%= f.text_area :message %><br>
    <%= f.submit %>
<% end %>

<h3>Previous Text Messages:</h3>
<ul>
    <% @text_messages.each do |text| %>
        <li><%= text.message %></li>
    <% end %>
</ul>
